[user]
  name = Paul Aphivantrakul
  email = aphivantrakul@gmail.com
[difftool]
  prompt = true
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[mergetool "vimdiff"]
  path = nvim
[core]
  editor = nvim
[init]
  defaultBranch = main
[pull]
  ff = only

